.inputContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.inputlabel {
  font-size: 1.2rem;
  margin: 0.5rem 0rem;
  font-family: "Inter", sans-serif;
}
.inputField {
  border: 1px solid #ccc;
  height: 30px;
  padding: 0.1px 1rem;
  border-radius: 0.5rem;
  font-family: "Inter", sans-serif;
}

.subInputContainer {
  display: flex;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}

.input1 {
  border: none;
  width: 30%;
  height: 30px;
  padding: 0.1px 1rem;
  border-right: 1px solid#ccc;
  background-color: #efefef;
  font-family: "Inter", sans-serif;
}
.input2 {
  border: none;
  height: 30px;
  padding: 0.1px 1rem;
  border-radius: 0.5rem;
  width: 70%;
  font-family: "Inter", sans-serif;
}

.inputlabel2 {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.screen2InputContainer {
  margin-top: 1rem;
}
